In [ ]:
 git config --get remote.origin.url

In [3]:
import os
import zipfile


path_to_zip_file = os.getcwd() + '\\web-traffic-time-series-forecasting.zip'
directory_to_extract_to = os.getcwd()
with zipfile.ZipFile(path_to_zip_file, 'r') as zip_ref:
    zip_ref.extractall(directory_to_extract_to)

In [4]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 3C9A-F06B

 Directory of C:\Users\E17538\OneDrive - Uniper SE\Desktop\DailyActivities\FAD\Advpy\s6

12/03/2021  21:06    <DIR>          .
12/03/2021  21:06    <DIR>          ..
12/03/2021  21:02    <DIR>          .ipynb_checkpoints
12/03/2021  21:06       100.611.606 key_1.csv.zip
12/03/2021  21:06       105.675.137 key_2.csv.zip
12/03/2021  21:06        69.191.855 sample_submission_1.csv.zip
12/03/2021  21:06        71.498.241 sample_submission_2.csv.zip
12/03/2021  21:06       107.403.305 train_1.csv.zip
12/03/2021  21:06       157.467.909 train_2.csv.zip
12/03/2021  21:04             2.145 Untitled.ipynb
11/03/2021  22:04       611.829.090 web-traffic-time-series-forecasting.zip
               8 File(s)  1.223.679.288 bytes
               3 Dir(s)   4.442.464.256 bytes free

In [5]:
path_to_zip_file = os.getcwd() + '\\train_1.csv.zip'
with zipfile.ZipFile(path_to_zip_file, 'r') as zip_ref:
    zip_ref.extractall(directory_to_extract_to)

In [6]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is 3C9A-F06B

 Directory of C:\Users\E17538\OneDrive - Uniper SE\Desktop\DailyActivities\FAD\Advpy\s6

12/03/2021  21:20    <DIR>          .
12/03/2021  21:20    <DIR>          ..
12/03/2021  21:02    <DIR>          .ipynb_checkpoints
12/03/2021  21:06       100.611.606 key_1.csv.zip
12/03/2021  21:06       105.675.137 key_2.csv.zip
12/03/2021  21:06        69.191.855 sample_submission_1.csv.zip
12/03/2021  21:06        71.498.241 sample_submission_2.csv.zip
12/03/2021  21:20       278.011.802 train_1.csv
12/03/2021  21:06       107.403.305 train_1.csv.zip
12/03/2021  21:06       157.467.909 train_2.csv.zip
12/03/2021  21:20             2.912 Untitled.ipynb
11/03/2021  22:04       611.829.090 web-traffic-time-series-forecasting.zip
               9 File(s)  1.501.691.857 bytes
               3 Dir(s)   4.159.676.416 bytes free

In [7]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, KFold

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [9]:
df_train1 = pd.read_csv('train_1.csv',header='infer',  )
df_train1.head()

,Page,2015-07-01,2015-07-02,2015-07-03,2015-07-04,2015-07-05,2015-07-06,2015-07-07,2015-07-08,2015-07-09,...,2016-12-22,2016-12-23,2016-12-24,2016-12-25,2016-12-26,2016-12-27,2016-12-28,2016-12-29,2016-12-30,2016-12-31
0,2NE1_zh.wikipedia.org_all-access_spider,18.0,11.0,5.0,13.0,14.0,9.0,9.0,22.0,26.0,...,32.0,63.0,15.0,26.0,14.0,20.0,22.0,19.0,18.0,20.0
1,2PM_zh.wikipedia.org_all-access_spider,11.0,14.0,15.0,18.0,11.0,13.0,22.0,11.0,10.0,...,17.0,42.0,28.0,15.0,9.0,30.0,52.0,45.0,26.0,20.0
2,3C_zh.wikipedia.org_all-access_spider,1.0,0.0,1.0,1.0,0.0,4.0,0.0,3.0,4.0,...,3.0,1.0,1.0,7.0,4.0,4.0,6.0,3.0,4.0,17.0
3,4minute_zh.wikipedia.org_all-access_spider,35.0,13.0,10.0,94.0,4.0,26.0,14.0,9.0,11.0,...,32.0,10.0,26.0,27.0,16.0,11.0,17.0,19.0,10.0,11.0
4,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,48.0,9.0,25.0,13.0,3.0,11.0,27.0,13.0,36.0,10.0

In [10]:
len(df_train1)

145063

In [11]:
df_train1.T.head()

,0,1,2,3,4,5,6,7,8,9,...,145053,145054,145055,145056,145057,145058,145059,145060,145061,145062
Page,2NE1_zh.wikipedia.org_all-access_spider,2PM_zh.wikipedia.org_all-access_spider,3C_zh.wikipedia.org_all-access_spider,4minute_zh.wikipedia.org_all-access_spider,52_Hz_I_Love_You_zh.wikipedia.org_all-access_s...,5566_zh.wikipedia.org_all-access_spider,91Days_zh.wikipedia.org_all-access_spider,A'N'D_zh.wikipedia.org_all-access_spider,AKB48_zh.wikipedia.org_all-access_spider,ASCII_zh.wikipedia.org_all-access_spider,...,Drake_(músico)_es.wikipedia.org_all-access_spider,Skam_(serie_de_televisión)_es.wikipedia.org_al...,Legión_(serie_de_televisión)_es.wikipedia.org_...,Doble_tentación_es.wikipedia.org_all-access_sp...,Mi_adorable_maldición_es.wikipedia.org_all-acc...,Underworld_(serie_de_películas)_es.wikipedia.o...,Resident_Evil:_Capítulo_Final_es.wikipedia.org...,Enamorándome_de_Ramón_es.wikipedia.org_all-acc...,Hasta_el_último_hombre_es.wikipedia.org_all-ac...,Francisco_el_matemático_(serie_de_televisión_d...
2015-07-01,18,11,1,35,NaN,12,NaN,118,5,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-02,11,14,0,13,NaN,7,NaN,26,23,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-03,5,15,1,10,NaN,4,NaN,30,14,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-07-04,13,18,1,94,NaN,5,NaN,24,12,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_train1.T.tail()

,0,1,2,3,4,5,6,7,8,9,...,145053,145054,145055,145056,145057,145058,145059,145060,145061,145062
2016-12-27,20,30,4,11,11,19,4,23,30,29,...,8,7,4,NaN,NaN,12,NaN,NaN,NaN,NaN
2016-12-28,22,52,6,17,27,23,15,32,36,35,...,21,13,2,NaN,NaN,13,NaN,NaN,NaN,NaN
2016-12-29,19,45,3,19,13,17,6,39,38,44,...,14,12,4,NaN,NaN,3,NaN,NaN,NaN,NaN
2016-12-30,18,26,4,10,36,17,8,32,31,26,...,24,31,4,NaN,NaN,5,NaN,NaN,NaN,NaN
2016-12-31,20,20,17,11,10,50,6,17,97,41,...,37,11,3,51,NaN,10,NaN,NaN,NaN,NaN

In [ ]:
df = df_train1.T

#### As the dataframe is quite big, I need to sometimes manually call the garbage collector. To do so I use the function written at [here](https://stackoverflow.com/questions/49515085/python-garbage-collection-sometimes-not-working-in-jupyter-notebook).

In [14]:
def my_reset(*varnames):
    """
    varnames are what you want to keep
    """
    globals_ = globals()
    to_save = {v: globals_[v] for v in varnames}
    to_save['my_reset'] = my_reset  # lets keep this function by default
    del globals_
    get_ipython().magic("reset")
    globals().update(to_save)